
.container{
  text-align: center;

}

.box{

  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  line-height: 190px;
  font-size: 40px;
}

.board{

  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
  margin-right: 25%;
}

.row{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}